.best {
    width: 100%;
    margin: 4rem 0;
    text-align: center;

}

,
best>div {
    margin: 1rem 2rem;
    font-size: 1.2rem;
}

.bold {
    font-weight: 700;
}

.best .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
}

.best img {
    width: 100%;
}

.best>div p {
    margin-left: 15rem;
    margin-top: 3rem;
}
.axis-x {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width:770px) {
    .best {

        margin: 1rem 0;

    }

    .best>div p {

        /* font-size: 1 rem; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 3rem;


    }

    .best .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }


}

@media screen and (max-width:475px){
    .best >div p{
        margin-left: 1rem;
    }
}
@media screen and (max-width:325px){
    .best >div p{
        margin-left: 0.5rem;
    }
}





